# Node modules
/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / frontend
/dist/
/build/
/out/

# Optional: coverage reports
/coverage/

# Optional: IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Mac system files
.AppleDouble
.LSOverride

# Optional: temp files
*.swp
*.tmp
